body {
    background-image: url('http://vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    background-color: white;    
}
.menu ul {
    display: flex;/*colocar elementos na horizontal*/
    justify-content: space-around;
}
.menu li {
    list-style: none;
}

.site-title,
.site-subtitle {
    color:whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}